In [1]:
import pickle 
with open('/Users/mingyu/Desktop/data/annual_y/y_A.pkl', 'rb') as handle: 
    content = pickle.load(handle)

In [ ]:
from data.build_xy import run_build_xy
run_build_xy(1, 0)

2020-03-24 22:42:17.775099 Working on year 1987
2020-03-24 22:42:17.775693 Working on group A
2020-03-24 22:42:30.723492 Working on group B
2020-03-24 22:42:39.447887 Working on group C
2020-03-24 22:42:54.271353 Working on group D
2020-03-24 22:43:00.874921 Working on group E
2020-03-24 22:43:10.184341 Working on group F
2020-03-24 22:43:19.131914 Working on group G
2020-03-24 22:43:26.203956 Working on group H
2020-03-24 22:43:32.868078 Working on group I
2020-03-24 22:43:42.582388 Working on group J
2020-03-24 22:43:45.543998 Working on group K
2020-03-24 22:43:48.609860 Working on group L
2020-03-24 22:43:53.166579 Working on group M
2020-03-24 22:44:03.422473 Working on group N
2020-03-24 22:44:11.096146 Working on group O
2020-03-24 22:44:14.895191 Working on group P
2020-03-24 22:44:25.920864 Working on group Q
2020-03-24 22:44:28.028162 Working on group R
2020-03-24 22:44:34.726321 Working on group S
2020-03-24 22:44:48.252105 Working on group T
2020-03-24 22:44:56.133920 Working on group U

In [18]:
import pickle
with open('/Users/mingyu/Desktop/data/month_x/x_V.pkl' ,'rb') as handle: 
    content = pickle.load(handle)
content.loc[[(10530, 2009, 9)], :]

,,,fyearq,fqtr,apdedateq,datadate,pdateq,fdateq,gvkey_x,datadate_q,rdq_x,chtx,...,mom12m,mom36m,mom1m,dolvol,chmom,turn,retcons_pos,moms12m,x_1,dpqq
permno,year,month,,,,,,,,,,,,,,,,,,,,,
10530.0,2009,9,2009.0,2.0,2009-03-31,2009-03-31,2009-04-16,2009-05-22,012433,2009-03-31,2009-04-16,0.000185,...,0.296715,0.412945,0.092938,1.194376,1.665898,1.875756,0,0.053909,0.010721,0.007632

In [29]:

with open('/Users/mingyu/Desktop/data/month_x/x_S.pkl', 'rb') as handle: 
    content = pickle.load(handle)

In [30]:
content

                    fyearq  fqtr  apdedateq   datadate     pdateq     fdateq  \
permno  year month
10259.0 1988 1      1987.0   2.0        NaT 1987-07-31        NaT        NaT
             2      1987.0   2.0        NaT 1987-07-31        NaT        NaT
             3      1987.0   2.0        NaT 1987-07-31        NaT        NaT
             4      1987.0   3.0        NaT 1987-10-31        NaT        NaT
             5      1987.0   3.0        NaT 1987-10-31        NaT        NaT
             6      1987.0   3.0        NaT 1987-10-31        NaT        NaT
             7      1987.0   3.0        NaT 1987-10-31        NaT        NaT
             8      1987.0   4.0        NaT 1988-01-31        NaT        NaT
             9      1987.0   4.0        NaT 1988-01-31        NaT        NaT
             10     1988.0   1.0        NaT 1988-04-30        NaT        NaT
             11     1988.0   1.0        NaT 1988-04-30        NaT        NaT
        1989 1      1988.0   2.0        NaT 1988-07-31        NaT        NaT
             3      1988.0   2.0        NaT 1988-07-31        NaT        NaT
             4      1988.0   3.0        NaT 1988-10-31        NaT        NaT
             5      1988.0   3.0        NaT 1988-10-31        NaT        NaT
             7      1988.0   3.0        NaT 1988-10-31        NaT        NaT
             8      1988.0   4.0        NaT 1989-01-31        NaT        NaT
             10     1989.0   1.0        NaT 1989-04-30        NaT        NaT
             12     1989.0   1.0        NaT 1989-04-30        NaT        NaT
        1990 1      1989.0   2.0        NaT 1989-07-31        NaT        NaT
             4      1989.0   3.0        NaT 1989-10-31        NaT        NaT
             5      1989.0   3.0        NaT 1989-10-31        NaT        NaT
             6      1989.0   3.0        NaT 1989-10-31        NaT        NaT
             7      1989.0   3.0        NaT 1989-10-31        NaT        NaT
             8      1989.0   4.0        NaT 1990-01-31        NaT        NaT
             10     1990.0   1.0        NaT 1990-04-30        NaT        NaT
        1991 1      1990.0   2.0        NaT 1990-07-31        NaT        NaT
             4      1990.0   3.0        NaT 1990-10-31        NaT        NaT
             5      1990.0   3.0        NaT 1990-10-31        NaT        NaT
             7      1990.0   3.0        NaT 1990-10-31        NaT        NaT
...                    ...   ...        ...        ...        ...        ...
93434.0 2017 3      2016.0   4.0 2016-06-30 2016-06-30 2016-09-17 2016-09-23
             4      2017.0   1.0 2016-09-30 2016-09-30 2016-11-15 2016-11-30
             5      2017.0   1.0 2016-09-30 2016-09-30 2016-11-15 2016-11-30
             6      2017.0   1.0 2016-09-30 2016-09-30 2016-11-15 2016-11-30
             7      2017.0   2.0 2016-12-31 2016-12-31 2017-02-12 2017-02-20
             8      2017.0   2.0 2016-12-31 2016-12-31 2017-02-12 2017-02-20
             9      2017.0   2.0 2016-12-31 2016-12-31 2017-02-12 2017-02-20
             11     2017.0   3.0 2017-03-31 2017-03-31 2017-05-19 2017-06-05
             12     2017.0   3.0 2017-03-31 2017-03-31 2017-05-19 2017-06-05
        2018 2      2017.0   4.0 2017-06-30 2017-06-30 2017-09-15 2017-09-25
             3      2017.0   4.0 2017-06-30 2017-06-30 2017-09-15 2017-09-25
             4      2018.0   1.0 2017-09-30 2017-09-30 2017-11-14 2017-12-01
             5      2018.0   1.0 2017-09-30 2017-09-30 2017-11-14 2017-12-01
             6      2018.0   1.0 2017-09-30 2017-09-30 2017-11-14 2017-12-01
             7      2018.0   2.0 2017-12-31 2017-12-31 2018-02-12 2018-04-02
             8      2018.0   2.0 2017-12-31 2017-12-31 2018-02-12 2018-04-02
             9      2018.0   2.0 2017-12-31 2017-12-31 2018-02-12 2018-04-02
             10     2018.0   3.0 2018-03-31 2018-03-31 2018-05-21 2018-07-23
             11     2018.0   3.0 2018-03-31 2018-03-31 2018-05-21 2018-07-23
             12     2018.0   3.0 2018-03-31 2018-03-31 2018-05-21 2018-07-23
        2019 2      2018.0   4.0 2018-06-30 2018-06-30 2018-09-21 2018-09-27
             3      2018.0   4.0 2018-06-30 2018-06-30 2018-09-21 2018-09-27
             4      2019.0   1.0 2018-09-30 2018-09-30 2018-11-10 2018-12-04
             5      2019.0   1.0 2018-09-30 2018-09-30 2018-11-10 2018-12-04
             6      2019.0   1.0 2018-09-30 2018-09-30 2018-11-10 2018-12-04
             7      2019.0   2.0 2018-12-31 2018-12-31 2019-02-12 2019-05-03
             9      2019.0   2.0 2018-12-31 2018-12-31 2019-02-12 2019-05-03
             10     2019.0   3.0 2019-03-31 2019-03-31 2019-05-20 2019-06-19
             11     2019.0   3.0 2019-03-31 2019-03-31 2019-05-20 2019-06-19
             12     2019.0   3.0 2019-03-31 2019-03-31 2019-05-20 2019-06-19

                   gvkey_x datadate_q      rdq_x      chtx  ...    mom12m  \
permno  year month                                          ...
10259.0 1988 1      012234 1987-07-31 1987-08-20  0.054118  ...       NaN
             2      012234 1987-07-31 1987-08-20  0.054118  ...       NaN
             3      012234 1987-07-31 1987-08-20  0.054118  ...       NaN
             4      012234 1987-10-31 1987-11-19  0.030678  ...       NaN
             5      012234 1987-10-31 1987-11-19  0.030678  ...       NaN
             6      012234 1987-10-31 1987-11-19  0.030678  ...       NaN
             7      012234 1987-10-31 1987-11-19  0.030678  ...       NaN
             8      012234 1988-01-31 1988-03-10  0.013883  ...       NaN
             9      012234 1988-01-31 1988-03-10  0.013883  ...       NaN
             10     012234 1988-04-30 1988-05-24  0.016476  ...       NaN
             11     012234 1988-04-30 1988-05-24  0.016476  ...       NaN
        1989 1      012234 1988-07-31 1988-08-23  0.019864  ...       NaN
             3      012234 1988-07-31 1988-08-23  0.019864  ...  0.278069
             4      012234 1988-10-31 1988-11-23  0.006952  ...  0.279698
             5      012234 1988-10-31 1988-11-23  0.006952  ...  0.153587
             7      012234 1988-10-31 1988-11-23  0.006952  ...  0.215594
             8      012234 1989-01-31 1989-03-09 -0.003559  ...  0.298511
             10     012234 1989-04-30 1989-05-23  0.014573  ...  0.391737
             12     012234 1989-04-30 1989-05-23  0.014573  ...  0.329537
        1990 1      012234 1989-07-31 1989-08-22  0.002536  ...  0.308135
             4      012234 1989-10-31 1989-11-21 -0.008790  ...  0.316775
             5      012234 1989-10-31 1989-11-21 -0.008790  ...  0.168241
             6      012234 1989-10-31 1989-11-21 -0.008790  ...  0.198413
             7      012234 1989-10-31 1989-11-21 -0.008790  ...  0.296906
             8      012234 1990-01-31 1990-03-08 -0.004660  ...  0.232779
             10     012234 1990-04-30 1990-05-22 -0.021219  ...  0.174188
        1991 1      012234 1990-07-31 1990-08-24 -0.018585  ... -0.031852
             4      012234 1990-10-31 1990-11-27 -0.012099  ... -0.072209
             5      012234 1990-10-31 1990-11-27 -0.012099  ...  0.028464
             7      012234 1990-10-31 1990-11-27 -0.012099  ...  0.018689
...                    ...        ...        ...       ...  ...       ...
93434.0 2017 3      184259 2016-06-30 2016-09-15  0.002379  ...  0.095684
             4      184259 2016-09-30 2016-11-10  0.000989  ...  0.154449
             5      184259 2016-09-30 2016-11-10  0.000989  ...  0.239232
             6      184259 2016-09-30 2016-11-10  0.000989  ...  0.265830
             7      184259 2016-12-31 2017-02-09  0.013177  ...  0.168878
             8      184259 2016-12-31 2017-02-09  0.013177  ...  0.154122
             9      184259 2016-12-31 2017-02-09  0.013177  ...  0.160526
             11     184259 2017-03-31 2017-05-10  0.003445  ...  0.156832
             12     184259 2017-03-31 2017-05-10  0.003445  ...  0.188344
        2018 2      184259 2017-06-30 2017-09-14  0.061344  ...  0.304460
             3      184259 2017-06-30 2017-09-14  0.061344  ...  0.219169
             4      184259 2017-09-30 2017-11-09  0.007516  ...  0.148984
             5      184259 2017-09-30 2017-11-09  0.007516  ...  0.130423
             6      184259 2017-09-30 2017-11-09  0.007516  ...  0.144611
             7      184259 2017-12-31 2018-02-08  0.000290  ...  0.179750
             8      184259 2017-12-31 2018-02-08  0.000290  ...  0.221451
             9      184259 2017-12-31 2018-02-08  0.000290  ...  0.190014
             10     184259 2018-03-31 2018-05-09 -0.005297  ...  0.203234
             11     184259 2018-03-31 2018-05-09 -0.005297  ...  0.188495
             12     184259 2018-03-31 2018-05-09 -0.005297  ...  0.013466
        2019 2      184259 2018-06-30 2018-09-20 -0.068053  ... -0.039967
             3      184259 2018-06-30 2018-09-20 -0.068053  ... -0.195473
             4      184259 2018-09-30 2018-11-08 -0.000266  ... -0.128942
             5      184259 2018-09-30 2018-11-08 -0.000266  ... -0.141295
             6      184259 2018-09-30 2018-11-08 -0.000266  ... -0.127138
             7      184259 2018-12-31 2019-02-12 -0.000944  ... -0.240438
             9      184259 2018-12-31 2019-02-12 -0.000944  ... -0.200608
             10     184259 2019-03-31 2019-05-09  0.001183  ... -0.165474
             11     184259 2019-03-31 2019-05-09  0.001183  ... -0.162975
             12     184259 2019-03-31 2019-05-09  0.001183  ... -0.136483

                      mom36m     mom1m    dolvol     chmom      turn  \
permno  year month
10259.0 1988 1           NaN       NaN       NaN       NaN       NaN
             2           NaN  0.070754       NaN       NaN       NaN
             3           NaN  0.119273 -0.184688       NaN       NaN
             4           NaN  0.025946  0.476347       NaN  2.122554
             5           NaN -0.027982 -1.030714       NaN  1.664087
             6           NaN -0.003989       NaN       NaN  1.547696
             7           NaN  0.074647       NaN       NaN  2.209965
             8           NaN  0.008773  0.413168       NaN  2.430478
             9           NaN -0.008801 -1.740326       NaN  2.707634
             10          NaN  0.018236       NaN       NaN  1.578764
             11          NaN -0.013326 -1.156557       NaN  1.844510
        1989 1           NaN -0.005456       NaN       NaN  1.746843
             3           NaN  0.072119       NaN -0.208114  1.870815
             4           NaN  0.008971  0.232766 -0.133854  1.515892
             5           NaN  0.081092 -2.014117  0.101213  1.646151
             7           NaN  0.038320  0.335647  0.132282  1.544638
             8           NaN  0.067519 -0.291361  0.213944  1.423128
             10          NaN  0.026619  0.061489  0.257104  1.764239
             12          NaN -0.007466 -0.901564  0.160845  2.175893
        1990 1           NaN -0.002254       NaN  0.146930  2.456254
             4           NaN -0.096622       NaN -0.150497  2.221724
             5           NaN  0.012155       NaN -0.199199  1.547697
             6           NaN  0.076282 -2.330539 -0.288685  1.839802
             7           NaN  0.019107 -0.433254 -0.337582  1.502705
             8           NaN -0.038983 -1.878258 -0.270336  1.475471
             10          NaN -0.108611       NaN -0.359139  0.796473
        1991 1           NaN -0.004962       NaN -0.071703  0.849036
             4           NaN  0.183353       NaN  0.114010  0.898692
             5           NaN  0.016861  0.231549  0.044782  1.348103
             7           NaN  0.023428 -1.767716  0.056535  1.541310
...                      ...       ...       ...       ...       ...
93434.0 2017 3      0.510379  0.013522 -2.256058  0.121192  0.520059
             4      0.424850 -0.001092 -2.799358  0.105381  0.495491
             5      0.469411  0.026922       NaN -0.001606  0.521042
             6      0.409801 -0.023303 -2.046178  0.078801  0.670504
             7      0.341464  0.025055       NaN -0.060877  0.727704
             8      0.329861  0.012433 -2.263580 -0.054960  0.840056
             9      0.316110 -0.014609 -3.134611 -0.091562  0.854227
             11     0.230994  0.055417       NaN -0.045309  0.724468
             12     0.287893  0.049134 -1.745462 -0.021337  0.606886
        2018 2      0.394438  0.036695 -1.789434  0.021889  0.547068
             3      0.443711 -0.036105 -1.944147  0.039260  0.528529
             4      0.318462 -0.002850       NaN  0.033360  0.467212
             5      0.371514  0.011445       NaN  0.091355  0.303852
             6      0.330281  0.058448 -3.203254  0.036599  0.305747
             7      0.477310  0.011221 -1.601236 -0.027258  0.310543
             8      0.438260 -0.001327 -3.311351 -0.134759  0.295577
             9      0.429456  0.023681       NaN -0.000267  0.204461
             10     0.424529 -0.026680 -2.579937 -0.009975  0.323766
             11     0.374396 -0.100014       NaN -0.157427  0.266687
             12     0.251958 -0.006180       NaN -0.219158  0.276351
        2019 2      0.229246 -0.131229       NaN -0.305494  0.180422
             3      0.057722  0.043605       NaN -0.231143  0.180903
             4      0.159804 -0.016991 -2.064421 -0.327698  0.182426
             5      0.103274  0.028120       NaN -0.257642  0.124116
             6      0.108274 -0.078941 -2.492871 -0.119747  0.179676
             7      0.061184  0.064248       NaN -0.001781  0.204032
             9      0.213629  0.042564 -1.774227  0.304679  0.216661
             10     0.258560  0.026747 -2.071549  0.252478  0.170797
             11     0.221719  0.004126 -2.754248  0.307361  0.124550
             12     0.181666  0.081144 -4.675129  0.319545  0.112449

                    retcons_pos   moms12m       x_1      dpqq
permno  year month
10259.0 1988 1                0       NaN  0.091588       NaN
             2                0       NaN -0.029663       NaN
             3                0       NaN  0.007427  0.005137
             4                0       NaN -0.082527 -0.007712
             5                0       NaN -0.055714 -0.009022
             6                0       NaN -0.253222 -0.025670
             7                0       NaN  0.021119 -0.013973
             8                0       NaN  0.116199 -0.005795
             9                0       NaN  0.032521  0.009705
             10               0       NaN  0.247543  0.022987
             11               0       NaN -0.123103  0.012311
        1989 1                0  0.023461 -0.056913  0.004719
             3                0  0.023585  0.093586 -0.004939
             4                0  0.013558 -0.078571 -0.002830
             5                0  0.018571 -0.092114 -0.004470
             7                0  0.024599 -0.018688 -0.009715
             8                0  0.031099  0.058365 -0.003329
             10               0  0.026733  0.081820  0.008008
             12               0  0.025257 -0.056308  0.006579
        1990 1                0  0.025852  0.005942  0.003230
             4                0  0.015410  0.147291  0.010865
             5                0  0.017727  0.013782  0.020877
             6                0  0.025158  0.077931  0.028118
             7                0  0.020338  0.054767  0.017795
             8                0  0.015979  0.063802  0.027103
             10               0 -0.001267  0.106149  0.036727
        1991 1                0 -0.005202 -0.191647 -0.004153
             4                0  0.005329 -0.048928 -0.019563
             5                0  0.004442 -0.013609 -0.025105
             7                0  0.007250  0.292327  0.021977
...                         ...       ...       ...       ...
93434.0 2017 3                0  0.014169 -0.101092 -0.000309
             4                0  0.020382  0.057225 -0.001738
             5                0  0.022343  0.132947  0.018583
             6                0  0.014979  0.000364  0.047046
             7                0  0.013787  0.169060  0.078969
             8                0  0.014295  0.042534  0.060559
             9                0  0.014009  0.100872  0.094710
             11               0  0.016553 -0.013366  0.041263
             12               0  0.025043 -0.110364 -0.012258
        2018 2                0  0.018450  0.140366  0.003926
             3                0  0.013097 -0.031422 -0.000406
             4                0  0.011609  0.025334  0.037299
             5                0  0.012749  0.086617  0.022689
             6                0  0.015615  0.069192  0.053863
             7                0  0.018753  0.044826  0.061734
             8                0  0.016355 -0.008577  0.034013
             9                0  0.017377  0.207695  0.076145
             10               0  0.016280 -0.242871 -0.017992
             11               0  0.002150  0.011677 -0.007233
             12               0 -0.002879  0.210589 -0.007479
        2019 2                0 -0.018145 -0.199984  0.009391
             3                0 -0.010898  0.062047  0.024966
             4                0 -0.012184 -0.068895 -0.077176
             5                0 -0.010668 -0.082343 -0.030342
             6                0 -0.023158  0.169333  0.006144
             7                0 -0.018337 -0.078648  0.003160
             9                0 -0.014347  0.128633  0.074094
             10               0 -0.014068  0.054546  0.043926
             11               0 -0.011268  0.081144  0.116971
             12               0  0.005201  0.096543  0.102758

[50479 rows x 271 columns]