In [8]:
from data.build_x import annual_x
from data.quarter_x import build_compq6
import wrds
conn = wrds.Connection(wrds_username='dachxiu')

Loading library list...
Done

In [9]:
crsp_dsf = conn.raw_sql(f"""
                      select * from crsp.dsf
                      where cusip = '23135106'
                      """)

In [5]:
import pickle
with open('ccm_jun.pkl', 'rb') as handle: 
    ccm_jun = pickle.load(handle)

In [3]:
compq6 = build_compq6('AAPL', ccm_jun)

/Users/mingyu/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "ticker" does not exist
LINE 2:                           select ticker, ret, retx, prc, shr...
                                         ^

[SQL:
                          select ticker, ret, retx, prc, shrout, vol, date, permno from crsp.msf
                          where ticker = 'AAPL'
                          ]
(Background on this error at: http://sqlalche.me/e/f405)

In [6]:
compq6

,fyearq,fqtr,apdedateq,datadate,pdateq,fdateq,gvkey,lpermno,rdq,chtx,...,sue,roavol,cash,cinvest,m7,m8,prccq,roeq,aeavol,ear
0,2014.0,3.0,2015-02-28,2015-02-28,2015-03-30,2015-04-01,001004,54594.0,2015-03-30,NaN,...,0.001701,NaN,0.031399,NaN,NaN,NaN,29.400,NaN,1.259405,-0.066348
1,2014.0,4.0,2015-05-31,2015-05-31,2015-07-14,2015-07-23,001004,54594.0,2015-07-13,NaN,...,0.045701,NaN,0.036106,NaN,NaN,NaN,29.540,-0.087257,-0.366083,0.057062
2,2015.0,1.0,2015-08-31,2015-08-31,2015-09-24,2015-09-25,001004,54594.0,2015-09-24,NaN,...,0.002055,NaN,0.018550,NaN,NaN,NaN,24.330,0.008756,4.309919,-0.139176
3,2015.0,2.0,2015-11-30,2015-11-30,2015-12-17,2015-12-21,001004,54594.0,2015-12-17,NaN,...,-0.005293,NaN,0.040923,NaN,NaN,NaN,24.560,0.010735,9.167734,0.085907
4,2015.0,3.0,2016-02-29,2016-02-29,2016-03-22,2016-03-24,001004,54594.0,2016-03-22,0.001875,...,-0.000470,NaN,0.033114,0.100346,NaN,NaN,21.290,0.011478,4.449115,0.018965
5,2015.0,4.0,2016-05-31,2016-05-31,2016-07-13,2016-07-18,001004,54594.0,2016-07-12,0.032145,...,-0.004916,NaN,0.021635,0.015144,NaN,NaN,24.410,0.013748,7.398909,-0.019760
6,2016.0,1.0,2016-08-31,2016-08-31,2016-09-22,2016-09-23,001004,54594.0,2016-09-22,0.000969,...,0.001625,NaN,0.005536,0.019910,NaN,NaN,24.610,0.011435,0.250195,0.075161
7,2016.0,2.0,2016-11-30,2016-11-30,2016-12-21,2016-12-27,001004,54594.0,2016-12-21,0.000782,...,0.000000,NaN,0.015472,-0.000839,NaN,NaN,36.890,0.013279,3.062887,-0.087855
8,2016.0,3.0,2017-02-28,2017-02-28,2017-03-21,2017-03-23,001004,54594.0,2017-03-21,0.001971,...,0.000872,NaN,0.006724,0.026254,NaN,NaN,34.420,0.016506,2.073451,0.003964
9,2016.0,4.0,2017-05-31,2017-05-31,2017-07-12,2017-07-14,001004,54594.0,2017-07-11,-0.000139,...,0.002290,NaN,0.006848,-0.038058,NaN,NaN,34.940,0.018404,5.013580,0.049334
10,2017.0,1.0,2017-08-31,2017-08-31,2017-09-19,2017-09-21,001004,54594.0,2017-09-19,-0.000771,...,-0.000277,NaN,0.009858,-0.019094,NaN,NaN,36.060,0.012032,1.273264,0.099349
11,2017.0,2.0,2017-11-30,2017-11-30,2017-12-21,2017-12-27,001004,54594.0,2017-12-21,0.000336,...,-0.000241,NaN,0.017548,0.000695,NaN,NaN,41.580,0.014383,6.429940,-0.057872
12,2017.0,3.0,2018-02-28,2018-02-28,2018-03-20,2018-04-03,001004,54594.0,2018-03-20,-0.011650,...,0.000000,NaN,0.022881,-0.136668,NaN,NaN,42.580,0.034528,-0.498227,0.009426
13,2017.0,4.0,2018-05-31,2018-05-31,2018-07-11,2018-07-26,001004,54594.0,2018-07-10,-0.002327,...,-0.002461,NaN,0.027284,0.025188,NaN,NaN,44.690,0.019777,4.774640,-0.085482
14,2018.0,1.0,2018-08-31,2018-08-31,2018-09-26,2018-09-28,001004,54594.0,2018-09-25,-0.001371,...,0.000000,NaN,0.029133,0.042772,NaN,NaN,46.670,0.020186,7.863488,0.081165
15,2018.0,2.0,2018-11-30,2018-11-30,2018-12-18,2019-01-02,001004,54594.0,2018-12-18,-0.002461,...,-0.001144,0.012860,0.025371,0.072640,0.0,NaN,43.690,0.012055,10.186732,-0.034378
16,2018.0,3.0,2019-02-28,2019-02-28,2019-03-20,2019-03-22,001004,54594.0,2019-03-19,0.006084,...,0.002464,0.004268,0.032590,0.003361,0.0,NaN,36.530,0.029286,2.377986,-0.028338
17,2018.0,4.0,2019-05-31,2019-05-31,2019-07-10,2019-07-26,001004,54594.0,2019-07-10,-0.001246,...,0.000332,0.004457,0.027089,-0.009266,1.0,NaN,30.090,0.029575,2.774772,0.127863
18,2019.0,1.0,2019-08-31,2019-08-31,2019-09-25,2019-09-27,001004,54594.0,2019-09-25,0.000715,...,0.012581,0.004276,0.034460,0.169939,1.0,0.0,42.960,0.018876,11.762485,-0.051829
19,2019.0,2.0,2019-11-30,2019-11-30,2019-12-19,2019-12-27,001004,54594.0,2019-12-19,0.001870,...,0.007178,0.004102,0.030030,-0.047965,1.0,0.0,44.690,0.022100,14.150598,0.141322
20,2015.0,1.0,2015-03-31,2015-03-31,None,2015-04-24,001045,21020.0,2015-04-24,NaN,...,0.000000,NaN,0.212388,NaN,NaN,NaN,52.780,NaN,-0.812555,0.009522
21,2015.0,2.0,2015-06-30,2015-06-30,None,2015-07-24,001045,21020.0,2015-07-24,NaN,...,0.000250,NaN,0.201930,NaN,NaN,NaN,39.935,0.616498,-0.094016,-0.028586
22,2015.0,3.0,2015-09-30,2015-09-30,None,2015-10-23,001045,21020.0,2015-10-23,NaN,...,0.003863,NaN,0.196716,NaN,NaN,NaN,38.830,0.465622,0.611956,0.048474
23,2015.0,4.0,2015-12-31,2015-12-31,2016-01-29,2016-02-25,001045,21020.0,2016-01-29,NaN,...,0.002125,NaN,0.143530,NaN,NaN,NaN,42.350,0.872142,-0.005719,-0.006764
24,2016.0,1.0,2016-03-31,2016-03-31,2016-04-22,2016-04-22,001045,21020.0,2016-04-22,0.008684,...,0.019264,NaN,0.152698,0.007244,NaN,NaN,41.010,0.124224,1.091465,-0.106952
25,2016.0,2.0,2016-06-30,2016-06-30,None,2016-07-22,001045,21020.0,2016-07-22,0.011030,...,0.006005,NaN,0.151966,-0.018720,NaN,NaN,28.310,0.201699,-0.476050,-0.002082
26,2016.0,3.0,2016-09-30,2016-09-30,None,2016-10-20,001045,21020.0,2016-10-20,0.008950,...,0.005736,NaN,0.144596,-0.047872,NaN,NaN,36.610,0.170918,0.164105,0.014545
27,2016.0,4.0,2016-12-31,2016-12-31,2017-01-27,2017-02-26,001045,21020.0,2017-01-27,0.067066,...,0.002570,NaN,0.136463,-0.005597,NaN,NaN,46.690,0.065816,1.646227,-0.061834
28,2017.0,1.0,2017-03-31,2017-03-31,None,2017-04-27,001045,21020.0,2017-04-27,-0.004448,...,0.002600,NaN,0.137173,0.032896,NaN,NaN,42.300,0.089828,2.027728,-0.087584
29,2017.0,2.0,2017-06-30,2017-06-30,None,2017-07-28,001045,21020.0,2017-07-28,-0.000353,...,0.003975,NaN,0.139493,-0.026818,NaN,NaN,50.320,0.249928,-0.049628,-0.010990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100406,2017.0,4.0,2017-12-31,2017-12-31,None,2018-05-03,319507,16469.0,2018-04-10,0.000774,...,-0.183750,NaN,0.776038,NaN,NaN,NaN,10.810,NaN,0.638613,-0.025507
100407,2018.0,2.0,2018-06-30,2018-06-30,None,2018-09-25,319507,16469.0,2018-09-25,0.000249,...,-0.244289,NaN,0.750644,NaN,NaN,NaN,8.200,NaN,-0.919667,-0.001455
100408,2018.0,4.0,2018-12-31,2018-12-31,None,2019-05-10,319507,16469.0,2019-04-15,-0.000754,...,-0.154446,NaN,0.655789,NaN,NaN,NaN,6.590,NaN,-0.981643,0.075433
100409,2019.0,2.0,2019-06-30,2019-06-30,None,2019-10-01,319507,16469.0,2019-09-30,-0.000341,...,-0.677808,NaN,0.749898,NaN,NaN,NaN,0.670,NaN,6.774889,-0.546102
100410,2018.0,2.0,2018-06-30,2018-06-30,2018-08-07,2018-11-12,324684,17808.0,2018-08-06,NaN,...,-0.006742,NaN,0.653410,NaN,NaN,NaN,8.900,NaN,0.453590,-0.007248
100411,2018.0,3.0,2018-09-30,2018-09-30,2018-11-12,2019-06-26,324684,17808.0,2018-11-08,NaN,...,0.001253,NaN,0.592623,NaN,NaN,NaN,7.980,-0.212045,0.809159,0.013762
100412,2018.0,4.0,2018-12-31,2018-12-31,2019-03-23,2019-06-26,324684,17808.0,2019-03-22,0.000000,...,-0.125932,NaN,0.546680,NaN,NaN,NaN,3.600,-0.267886,0.349372,-0.100693
100413,2019.0,2.0,2019-06-30,2019-06-30,None,2019-08-14,324684,17808.0,2019-08-13,0.006716,...,-0.112233,NaN,0.379811,NaN,NaN,NaN,3.070,NaN,0.260346,0.022485
100414,2019.0,3.0,2019-09-30,2019-09-30,None,2019-11-01,324684,17808.0,2019-10-31,-0.001447,...,-0.202123,NaN,0.246781,NaN,NaN,NaN,1.730,-0.281488,0.271611,0.032734
100415,2018.0,2.0,2018-06-30,2018-06-30,None,2018-07-27,326688,17676.0,2018-07-26,NaN,...,0.015733,NaN,0.019992,NaN,NaN,NaN,25.100,0.011895,0.083319,0.057720
100416,2018.0,3.0,2018-09-30,2018-09-30,2018-10-25,2018-11-01,326688,17676.0,2018-10-25,NaN,...,0.000000,NaN,0.023128,NaN,NaN,NaN,27.160,0.025293,-0.371954,0.056734
100417,2018.0,4.0,2018-12-31,2018-12-31,2019-01-31,2019-03-01,326688,17676.0,2019-01-31,0.021312,...,-0.000445,NaN,0.034924,0.002584,NaN,NaN,22.460,0.024672,0.975498,0.005258
100418,2019.0,1.0,2019-03-31,2019-03-31,2019-04-25,2019-05-02,326688,17676.0,2019-04-25,-0.000340,...,0.000371,NaN,0.007285,0.077411,NaN,NaN,26.980,0.020989,-0.145886,-0.025795
100419,2019.0,2.0,2019-06-30,2019-06-30,2019-08-01,2019-08-12,326688,17676.0,2019-08-01,0.001224,...,0.000000,NaN,0.005667,-0.029379,NaN,NaN,24.790,0.023111,1.102771,-0.145067
100420,2019.0,3.0,2019-09-30,2019-09-30,2019-10-30,2019-11-04,326688,17676.0,2019-10-30,0.000175,...,0.018294,NaN,0.010677,0.012362,NaN,NaN,22.040,0.023603,1.251654,0.053135
100421,2019.0,4.0,2019-12-31,2019-12-31,2020-02-05,2020-03-06,326688,17676.0,2020-02-05,-0.001713,...,0.015453,NaN,0.022930,-0.034549,NaN,NaN,25.580,0.017728,NaN,NaN
100422,2018.0,2.0,2018-06-30,2018-06-30,None,2018-08-29,327451,17884.0,2018-08-29,NaN,...,-0.020487,NaN,0.113864,NaN,NaN,NaN,17.800,NaN,3.445136,-0.111134
100423,2018.0,4.0,2018-12-31,2018-12-31,None,2019-06-14,327451,17884.0,2019-02-27,-0.004113,...,-0.452760,NaN,0.079611,NaN,NaN,NaN,6.240,NaN,0.753696,0.030429
100424,2019.0,2.0,2019-06-30,2019-06-30,None,2019-09-11,327451,17884.0,2019-08-28,-0.003185,...,-0.146710,NaN,0.072529,NaN,NaN,NaN,4.810,NaN,-0.531212,-0.047530
100425,2019.0,4.0,2019-12-31,2019-12-31,2020-03-02,None,327451,17884.0,2020-02-25,0.001810,...,-0.058088,NaN,0.067439,NaN,NaN,NaN,6.490,NaN,NaN,NaN
100426,2018.0,4.0,2018-12-31,2018-12-31,2019-01-30,2019-04-08,328032,18313.0,2019-01-30,NaN,...,NaN,NaN,0.045685,NaN,NaN,NaN,2.830,-0.001324,0.941630,-0.141762
100427,2019.0,1.0,2019-03-31,2019-03-31,2019-05-19,2019-07-10,328032,18313.0,2019-05-06,NaN,...,-0.100418,NaN,0.035927,NaN,NaN,NaN,2.390,0.000290,-0.979971,-0.014603
100428,2019.0,2.0,2019-06-30,2019-06-30,2019-07-30,2019-09-06,328032,18313.0,2019-07-30,NaN,...,-0.087404,NaN,0.036503,NaN,NaN,NaN,1.945,0.002454,0.091110,-0.019784
100429,2019.0,3.0,2019-09-30,2019-09-30,2019-10-30,2019-12-09,328032,18313.0,2019-10-30,0.000000,...,0.078623,NaN,0.037300,-0.701667,NaN,NaN,1.990,0.022249,-0.102019,-0.029480
100430,2019.0,4.0,2019-12-31,2019-12-31,2020-02-05,None,328032,18313.0,2020-02-05,0.000000,...,-0.003253,NaN,0.039342,NaN,NaN,NaN,2.150,0.015691,NaN,NaN
100431,2018.0,4.0,2018-12-31,2018-12-31,2019-02-28,2019-03-18,328795,18144.0,2019-02-27,0.001997,...,0.002167,NaN,0.045760,NaN,NaN,NaN,27.690,0.019742,0.859659,0.065087
100432,2019.0,1.0,2019-03-31,2019-03-31,None,2019-05-03,328795,18144.0,2019-05-02,NaN,...,0.007856,NaN,0.055068,NaN,NaN,NaN,30.550,0.016444,2.529027,0.208655
100433,2019.0,2.0,2019-06-30,2019-06-30,2019-08-01,2019-08-12,328795,18144.0,2019-08-01,0.001374,...,0.004518,NaN,0.038354,-0.185552,NaN,NaN,37.630,0.018649,-0.745881,-0.056791
100434,2019.0,3.0,2019-09-30,2019-09-30,2019-10-31,2019-11-06,328795,18144.0,2019-10-30,0.003602,...,0.001937,NaN,0.057484,-0.229932,NaN,NaN,34.210,0.018855,0.677521,0.058220
100435,2019.0,4.0,2019-12-31,2019-12-31,2020-02-26,None,328795,18144.0,2020-02-26,0.002900,...,0.012873,NaN,0.104408,-0.061425,NaN,NaN,44.550,0.011951,NaN,NaN

In [ ]:
import pickle 
with open('compq6.pkl', 'rb') as handle: 
    pickle.dump(compq6, handle)