In [20]:
import wrds
import pandas as pd
conn = wrds.Connection(wrds_username='dachxiu')

Loading library list...
Done

In [21]:
sp500_full = pd.read_csv('/Users/mingyu/Desktop/ml_val/tools/sp500.csv')
sp500_full['Return'] = sp500_full['Adj Close'].pct_change()
sp500_full['Date'] = pd.to_datetime(sp500_full['Date'])

In [22]:
year_full = pd.DatetimeIndex(sp500_full['Date']).year
sp500 = sp500_full[(year_full >= 2011) & (year_full <= 2015)]
sp500.reset_index(inplace=True, drop=True)

In [23]:
date = sp500['Date'][0]
long = ('AAPL', 'TSLA')

In [24]:
long_df = conn.raw_sql(f"""
                      select a.date, a.permno, b.ticker, b.shrcd, b.siccd, a.ret, 
                      abs(a.prc) as prc, a.shrout, a.cfacpr, a.cfacshr
                      from crsp.dsf as a
                      left join crsp.msenames as b
                      on a.permno = b.permno
                      and b.namedt<=a.date
                      and a.date<=b.nameendt
                      and a.date = '{date}'
                      where b.ticker in {long}
                      """)

In [ ]:
crsp_m['date'] = pd.to_datetime(crsp_m['date'])
crsp_m.sort_values(by='date', inplace=True)
crsp_m.reset_index(inplace=True, drop=True)

In [13]:
# content
# crsp_m
# crsp_m[crsp_m['cfacpr'] == 56]
# crsp_m[crsp_m['cfacpr'] == 28]
# crsp_m[crsp_m['cfacpr'] == 14]
# crsp_m[crsp_m['cfacpr'] == 7]
# crsp_m[crsp_m['cfacpr'] == 1]

In [ ]:
content[(content['Date'] >= min(crsp_m['date'])) & (content['Date'] <= max(crsp_m['date']))]

In [36]:
sp500

,Date,Open,High,Low,Close,Adj Close,Volume,Return
9086,2011-01-03,1257.619995,1276.170044,1257.619995,1271.869995,1271.869995,4286670000,0.011315
9087,2011-01-04,1272.949951,1274.119995,1262.660034,1270.199951,1270.199951,4796420000,-0.001313
9088,2011-01-05,1268.780029,1277.630005,1265.359985,1276.560059,1276.560059,4764920000,0.005007
9089,2011-01-06,1276.290039,1278.170044,1270.430054,1273.849976,1273.849976,4844100000,-0.002123
9090,2011-01-07,1274.410034,1276.829956,1261.699951,1271.500000,1271.500000,4963110000,-0.001845
...,...,...,...,...,...,...,...,...
10339,2015-12-24,2063.520020,2067.360107,2058.729980,2060.989990,2060.989990,1411860000,-0.001599
10340,2015-12-28,2057.770020,2057.770020,2044.199951,2056.500000,2056.500000,2492510000,-0.002179
10341,2015-12-29,2060.540039,2081.560059,2060.540039,2078.360107,2078.360107,2542000000,0.010630
10342,2015-12-30,2077.340088,2077.340088,2061.969971,2063.360107,2063.360107,2367430000,-0.007217
10343,2015-12-31,2060.590088,2062.540039,2043.619995,2043.939941,2043.939941,2655330000,-0.009412

In [17]:
year = pd.DatetimeIndex(content['Date']).year

In [15]:
crsp_m

,date,permno,ticker,siccd,ret,prc,shrout,cfacpr
0,1980-12-12,14593.0,AAPL,3573.0,NaN,28.812500,55136.0,56.0
1,1980-12-15,14593.0,AAPL,3573.0,-0.052061,27.312500,55136.0,56.0
2,1980-12-16,14593.0,AAPL,3573.0,-0.073227,25.312500,55136.0,56.0
3,1980-12-17,14593.0,AAPL,3573.0,0.024691,25.937500,55136.0,56.0
4,1980-12-18,14593.0,AAPL,3573.0,0.028916,26.687500,55136.0,56.0
...,...,...,...,...,...,...,...,...
9842,2019-12-24,14593.0,AAPL,3571.0,0.000951,284.269989,4443265.0,1.0
9843,2019-12-26,14593.0,AAPL,3571.0,0.019840,289.910004,4443265.0,1.0
9844,2019-12-27,14593.0,AAPL,3571.0,-0.000379,289.799988,4443265.0,1.0
9845,2019-12-30,14593.0,AAPL,3571.0,0.005935,291.519989,4443265.0,1.0
9846,2019-12-31,14593.0,AAPL,3571.0,0.007307,293.649994,4443265.0,1.0

In [ ]:
# msenames = conn.raw_sql("""
#                         select b.ticker, b.namedt, b.nameendt
#                         from crsp.msenames as b
#                         where b.ticker = 'AAPL'
#                         """) 
# msenames

In [6]:
# import backtesting 
# from backtesting.test import GOOG
# GOOG.head()